body {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
}

.body-container {
    margin-top: 60px;
    padding-bottom: 40px;
    right: 0;
    bottom: 0;
}

.request-id {
    position: fixed;
    bottom: 1px;
    left: 10px;
    font-size: small;
    font-weight: 600;
}

.background-image {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url(../img/cdcavell.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.09;
}

.footer {
    font-size: x-small;
    background-color: rgb(245, 245, 245);
    opacity: 1;
}




