body {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
}

.body-container {
    margin-top: 60px;
    padding-bottom: 40px;
    right: 0;
    bottom: 0;
    text-shadow: 1px 1px 0.3px rgba(0,0,0,0.2), 1px 1px 0.1px rgba(0,0,0,0.19);
    opacity: .99;
}

.no-shadow {
    text-shadow: none;
}

.request-id {
    font-size: x-small;
    font-weight: 600;
}

.background-image {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url(../img/cdcavell.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.09;
}

.background-gradient {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: linear-gradient(180deg, rgba(32, 32, 32, 0.3), rgba(245, 245, 245, 1.0));
    background-size: contain;
    opacity: 0.09;
}

.footer {
    font-size: x-small;
    background-color: rgb(245, 245, 245);
    opacity: 1;
}

.form-control-shadow {
    border-color: rgba(32, 32, 32, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(32, 32, 32, 0.6);
}

.form-control-shadow:focus {
    border-color: rgba(32, 32, 32, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(32, 32, 32, 0.6);
}

    .form-control-shadow:active {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 13px rgba(32, 32, 32, 0.6);
    }