@{ }

<footer class="fixed-bottom border-top text-muted footer">
    <div class="container-fluid">
        &copy; @DateTime.Now.Year - Christopher D. Cavell
        <div class="btn-group float-right">
            <a href="https://cdcavell.name/Home/PrivacyPolicy" class="btn-link mr-2 text-decoration-none">
                Privacy Policy
            </a> |
            <a href="https://cdcavell.name/Home/TermsOfService" class="btn-link ml-2 mr-2 text-decoration-none">
                Terms of Service
            </a> |
            <a href="https://github.com/cdcavell/cdcavell.name" class="btn-link ml-2 text-decoration-none">
                Code Source
            </a>
        </div>
    </div>
</footer>

