@{
}

<h2>Authorized Access</h2>
<p>
    This page demonstrates ASP.NET Core 3.1 
    MVC authentication utilizing Brock Allen &amp; 
    Dominick Baier 
    <a class="text-decoration-none" href="https://identityserver4.readthedocs.io/en/latest/" rel="external nofollow noopener" target="_blank">IdentityServer4</a>
    OAuth 2.0 framework for authentication. User authorization policy required to access this page.
</p>