@model IndexModel

<h2 class="mb-1">
    Welcome
</h2>
<p class="font-small text-muted">
    This is the personal website for
    <a class="text-decoration-none" href="https://www.linkedin.com/in/christopher-d-cavell-6192113b/" rel="external nofollow noopener" target="_blank">
    Christopher D. Cavell</a>. An ongoing development of a Net Core 3.1 MVC application utilizing OAuth 2.0 framework for authentication. Built with 
    Brock Allen & Dominick Baier's 
    <a class="text-decoration-none" href="https://identityserver4.readthedocs.io/en/latest/" rel="external nofollow noopener" target="_blank">IdentityServer4</a> v4.1.1. 
    This version also includes Microsoft's <a class="text-decoration-none" href="https://www.customsearch.ai/" rel="external nofollow noopener" target="_blank">Bing Custom Search API</a> 
    with Eugene Simakin's <a class="text-decoration-none" href="http://josecebe.github.io/twbs-pagination/" rel="external nofollow noopener" target="_blank">jQuery pagination plugin</a> v1.4.2. 
    Application can easily be changed to use SAML2P in place of OAuth 2.0 for authentication, with the 
    <a class="text-decoration-none" href="https://www.identityserver.com/documentation/saml2p/" rel="external nofollow noopener" target="_blank">Rsk.Saml SAML component</a> 
    from <a class="text-decoration-none" href="https://www.rocksolidknowledge.com/" rel="external nofollow noopener" target="_blank">Rock Solid Knowledge</a>. 
</p>

