@{
}

<h2>Welcome</h2>
<p>
    This is the personal website for
    <a class="text-decoration-none" href="https://www.linkedin.com/in/christopher-d-cavell-6192113b/" rel="external nofollow noopener" target="_blank">
    Christopher D. Cavell</a>. This website is currently under development 
    and will primarily be used to showcase development of ASP.NET Core 3.1 
    MVC utilizing  OAuth 2.0 framework for authentication.
</p>
