@model cdcavell.Models.Search.SearchModel

<form asp-action="Search" asp-controller="Home">
    <div class="input-group md-form form-sm form-2 shadow-sm pl-0">
        <input class="form-control border-grey my-0 py-1" type="text" placeholder="Search" aria-label="Search" asp-for="SearchRequest" autofocus>
        <div class="input-group-append">
            <span class="input-group-text lighten-3 border-grey p-0 px-1" id="basic-text1">
                <button class="btn btn-link m-0 p-0">
                    <i class="fas fa-search text-grey" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<br/>

@if (Model.SearchResponse != null || Model.ImageResponse != null || Model.VideoResponse != null)
{
    string imageDisabled = Model.ImageResponse != null ? "disabled" : string.Empty;
    string videoDisabled = Model.VideoResponse != null ? "disabled" : string.Empty;

    <ul class="nav nav-tabs" id="resultsTab" role="tablist">
      <li class="nav-item border border-bottom-0">
        <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="true">Search Results</a>
      </li>
      <li class="nav-item border border-bottom-0">
        <a class="nav-link @imageDisabled" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false">Image Results</a>
      </li>
      <li class="nav-item border border-bottom-0">
        <a class="nav-link @videoDisabled" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Video Results</a>
      </li>
    </ul>
    <div class="tab-content border border-top-0" id="resultsTabContent">
      <div class="tab-pane fade overflow-auto show active" id="search" role="tabpanel" aria-labelledby="search-tab">

      </div>
      <div class="tab-pane fade overflow-auto" id="image" role="tabpanel" aria-labelledby="image-tab">

      </div>
      <div class="tab-pane fade overflow-auto" id="video" role="tabpanel" aria-labelledby="video-tab">

      </div>
    </div>
}


