<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<outboundRules>
					<rule name="Remove RESPONSE_Server" >
						<match serverVariable="RESPONSE_Server" pattern=".+" />
						<action type="Rewrite" value="A person or thing that provides a service or commodity" />
					</rule>
					<rule name="Remove RESPONSE_x-powered-by" >
						<match serverVariable="RESPONSE_x-powered-by" pattern=".+" />
						<action type="Rewrite" value="Free will" />
					</rule>
				</outboundRules>
			</rewrite>
			<handlers>
				<remove name="aspNetCore"/>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
			</handlers>
			<aspNetCore
				processPath="%LAUNCHER_PATH%"
				arguments="%LAUNCHER_ARGS%"
				stdoutLogEnabled="false"
				stdoutLogFile=".\LogFiles\stdout"
				hostingModel="inprocess"
			>
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production"/>
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>