@{
}

  <div class="btn-group-vertical m-0" role="group" aria-label="Menu button group">
    <a type="button" class="btn btn-lg btn-dark rounded m-1" asp-action="Authorized" asp-controller="Home">
        Authorized
    </a>
  </div>
