@{
    PageViewModel pageModel = (PageViewModel)ViewData["PageViewModel"];
    UserViewModel userModel = (UserViewModel)ViewData["UserViewModel"];
}


<div class="nav-page">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/img/icon-light.png" alt="logo" width="32" height="32" class="icon-banner mb-2">
            CDCavell
        </a>

        <ul class="navbar-nav navbar-expand ml-auto">
            @if (userModel.IsAuthenticated)
            {
                <li class="nav-item dropdown mr-lg-5">
                    <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">@userModel.Email <b class="caret"></b></a>

                    <div class="dropdown-menu">
                        @if ((await AuthorizationService.AuthorizeAsync(User, "Administration")).Succeeded)
                        {
                            <a class="dropdown-item" asp-action="Index" asp-controller="Administration">Administration</a>
                            <hr />
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, "User")).Succeeded)
                        {
                            <a class="dropdown-item" asp-action="Authorized" asp-controller="Home">User Authorized</a>
                            <hr />
                        }
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
                </li>         
            }
            else
            {
                <li class="nav-item mr-lg-5">
                    <a class="text-light text-decoration-none" asp-action="Login" asp-controller="Account">
                        Login
                    </a>
                </li>
            }
            <li class="nav-item ml-3">
                <a class="text-light text-decoration-none" asp-action="Search" asp-controller="Home">
                    Search
                    <i class="fas fa-search mr-2" aria-hidden="true"></i>
                </a>
            </li>
        </ul>

    </nav>
</div>
