@{
}

<div class="nav-page">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/img/icon.png" width="32" height="32" class="icon-banner">
            CDCavell
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item m-auto">
                <div class="btn-group">
                    <a href="~/Home/PrivacyPolicy" class="btn-sm btn-secondary ml-4 text-decoration-none">
                        Privacy Policy
                    </a>
                    <a href="~/Home/TermsOfService" class="btn-sm btn-secondary ml-4 text-decoration-none">
                        Terms of Service
                    </a>
                </div>
            </li>
        </ul>

    </nav>
</div>
