@{
    PageViewModel pageModel = (PageViewModel)ViewData["PageViewModel"];
    UserViewModel userModel = (UserViewModel)ViewData["UserViewModel"];
}


<div class="nav-page">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/img/icon.png" width="32" height="32" class="icon-banner mb-2">
            CDCavell
        </a>

        <ul class="navbar-nav ml-auto">
            @if (userModel.IsAuthenticated)
            {
                <li class="nav-item dropdown m-auto">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@userModel.Email <b class="caret"></b></a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
                </li>            }
            <li class="nav-item m-auto">
            </li>
        </ul>

    </nav>
</div>
