@{
}

<div class="nav-page">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/img/icon.png" width="32" height="32" class="icon-banner mb-2">
            CDCavell
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item m-auto">
            </li>
        </ul>

    </nav>
</div>
